<!--Heading-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manual Coordinates Input</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<!--Input Value-->

    <h3>Enter Latitude and Longitude Manually</h3>

    <!--Error Text Styling-->
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    {% if success %}
        <p style="color: green;">{{ success }}</p> 
    {% endif %}

    <!--Input Box-->
    <form method="POST" action="/location">

        <!--latitude Input-->
        <label for="latitude">Latitude (-90 - 90) :</label>
        <input type="number" step="0.000000000000001" name="latitude" id="latitude" min="-90" max="90" value="" required><br><br>

        <!--Longtitude Input-->
        <label for="longitude">Longitude (-180 - 180) :</label>
        <input type="number" step="0.000000000000001" name="longitude" id="longitude" min="-180" max="180" value="" required><br><br>
        
        <!--Save Input Button-->
        <button type="submit">Save Coordinates</button>
    </form>

    <!--Result Display-->
    {% if latitude_display and longitude_display %}
        <h4>Latitude: <span id="lat-result">{{ latitude_display }}</span></h4>
        <h4>Longitude: <span id="lon-result">{{ longitude_display }}</span></h4>
    {% endif %}

    <!--Back button-->
    <p><a href="/">Back to city/country lookup</a></p>

</body>
</html>
